{% extends "main/frame.html" %}

{% block content %}
<head>
    <title>{{ title }}</title>
</head>
<body>
    <table>
        <tr>
            <td class="maincol">
                <div class="heading text-center">Популярное</div>
            </td>
            <td rowspan="3" class="cent">
                <a href="{% url 'createtest' %}"><button type="button" style="font-size: 20px; margin-bottom: 20px;" class="btn btn-danger">Создать тест</button></a>
                <button type="button" style="font-size: 20px; margin-bottom: 20px;" class="btn btn-success">Мои тесты</button>
            </td>
            <td class="pop"></td>
        </tr>
        <tr>
            <td>
                <table class="text-center" cellpadding="10">
                    <tr class="text-center">
                        <td class="pop"></td>
                        <td class="pop lowborder">
                            №
                        </td>
                        <td class="lowborder" style="width:375px">
                            Название
                        </td>
                        <td class="lowborder" style="width:175px">
                            Количество прохождений
                        </td>
                        <td class="lowborder" style="width:175px">
                            Средний результат
                        </td>
                        <td class="lowborder" style="width:175px">
                            Рейтинг
                        </td>
                        <td class="lowborder" style="width:100px">
                            Ваш результат
                        </td>
                        <td class="pop"></td>
                    </tr>
                    {% for test in object_list %}
                        <tr >
                            <td class="pop"></td>
                            <td class="pop lowborder">
                                {{ forloop.counter }}
                            </td>
                            <td class="lowborder" style="width:375px">
                               <a href="{% url 'testinfo' test.name %}">{{test.name}}</a>
                            </td>
                            <td class="lowborder" style="width:175px">
                                {{ test.number_of_passes }}
                            </td>
                            <td class="lowborder" style="width:175px">
                                {{test.average_result}}
                            </td>
                            <td class="lowborder" style="width:175px">
                                {{test.rating}}
                            </td>
                            <td class="lowborder" style="width:100px">
                                <div id="{{ test.name }}">-</div>
                                {% for result in test.test_results_set.all %}
                                {% if result.user == request.user %}
                                    {{ result.result }}
                                    <script> let elem = document.getElementById('{{ test.name }}');
                                        elem.style.display = "none";</script>
                                {% endif %}
                                {% endfor %}
                            </td>
                            <td class="pop"></td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    </table>
</body>
{% endblock %}